﻿@model IEnumerable<WebApplication7.Classes.Snow>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    
</p>
@if (Model.Count() > 0)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Marki", "Index", "Marki")
            @Html.ActionLink("Engine", "Index", "Engine")
            @Html.ActionLink("Transmition", "Index", "Transmition")
            @Html.ActionLink("Drive", "Index", "Drive")
            @Html.ActionLink("Body", "Index", "Body")
            @Html.ActionLink("Electricity", "Index", "Electricity")
            @Html.ActionLink("Accessory", "Index", "Accessory")
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
}
else
{ <span>Пусто</span> }
