﻿@model IEnumerable<WebApplication7.Classes.ATV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    
</p>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@item.Name, "Index", "Accessory", new { id = item.Id }, null)
                    @Html.ActionLink("Marki", "Index", "Marki", new { id = item.Id }, null)
                    @Html.ActionLink("Engine", "Index", "Engine", new { id = item.Id }, null)
                    @Html.ActionLink("Transmition", "Index", "Transmition", new { id = item.Id }, null)
                    @Html.ActionLink("Drive", "Index", "Drive", new { id = item.Id }, null)
                    @Html.ActionLink("Body", "Index", "Body", new { id = item.Id }, null)
                    @Html.ActionLink("Electricity", "Index", "Electricity", new { id = item.Id }, null)                  


                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    </table>
}
else
{

    <span>Пусто</span> 
}

