﻿@model IEnumerable<WebApplication7.Classes.Marki_ATV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   @if (Request.IsAuthenticated)
    {
     @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.ActionLink(@item.Name, "Index", "ATV", new { id = item.Id })*@
            @*<a href="/ATV" id=item.Id>Yamaha</a>*@
            @Html.ActionLink(@item.Name, "Index", "ATV", new { id = item.Id }, null)
           
        </td>
        <td>
           @if (Request.IsAuthenticated)
           {
            @Html.ActionLink("Edit |", "Edit", new { id=item.Id })
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            }
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
